
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f3f7f2;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ff9800;
    color: white;
}

section {
    padding: 80px 20px; 
    min-height: 100vh;
    background-color: white;
    margin-top: 60px; 
}

#home {
    background: whitesmoke;
    padding-top: 120px; 
}

.home-content {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 2.5em;
    margin-top: 40px;
    color: #555;
    
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin: 20px 0;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.product-item {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #333;
}

.product-item p {
    font-size: 1.2em;
    color: #ff9800;
}

#about{
    background: whitesmoke;
    
    padding-top: 120px;
}
#contact {
    background: whitesmoke;
    
    padding-top: 120px;}

